/* Timer */

.timer-container,
.timer-animation {
	width: 100%;
	height: 100%;
	max-width: 300px;
	max-height: 300px;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.timer-container {
	position: relative;
	background: linear-gradient(var(--dark-navy), var(--dark-navy)) padding-box,
		linear-gradient(to bottom right, var(--dark-navy) 30%, var(--light-navy)) border-box;
	border: 1rem solid transparent;
	margin: 1.5rem 0;
	padding: 0.5rem;
	box-shadow: 14px 17px 16px 9px var(--dark-navy), -14px -23px 35px 16px var(--light-navy);
}

.timer-svg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.timer-circle {
	transition: stroke-dashoffset 1s linear;
	stroke: var(--primary);
}

.timer-inner-container {
	position: relative;
	z-index: 2;
}
